@import 'tailwindcss';
@plugin 'flowbite/plugin';
@plugin 'flowbite-typography';

@source '../node_modules/flowbite';
@source inline('[&_th]:whitespace-nowrap');
@source inline('[&_td]:whitespace-nowrap');
@source inline('[&_th]:table-cell');
@source inline('[&_td]:table-cell');
@source inline('font-bold!');
@source inline('align-top!');
@source inline('align-middle!');
@source inline('align-bottom!');

@custom-variant dark (&:where(.dark, .dark *));

@config '../tailwind.config.js';

@theme {
  /* カスタムカラーパレット */
  --color-primary: var(--color-yellow-300);
  --color-primary-lightest: var(--color-yellow-50);
  --color-primary-lighter: var(--color-yellow-100);
  --color-primary-darker: var(--color-yellow-400);
  --color-primary-darkest: var(--color-yellow-600);
}

.smartphoto {
  @apply z-1001!;
}
