@import 'tailwindcss';

@theme {
  /* カスタムカラーパレット */
  --color-primary: var(--color-yellow-300);
  --color-primary-lightest: var(--color-yellow-50);
  --color-primary-lighter: var(--color-yellow-100);
  --color-primary-darker: var(--color-yellow-400);
  --color-primary-darkest: var(--color-yellow-600);
}

.smartphoto {
  @apply z-1001!;
}
